<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/_assets/theme.css" />
  <title>Template</title>
</head>

<body>
  <div class="app">
    <h1>{{ header_text }}</h1>
    <div class="">
      <label for="number-of-solutions">
        <span>Number of solutions:</span>
        <input type="number" name="number-of-solutions" id="number-of-solutions-input">
      </label>
      <button id="solve-button">Solve!</button>
    </div>

  {% for solution in solutions %}
    <div class="table">
    {% for row in solution %}
      <div class="row">
      {% for col in row %}
      <div class="col" dark="{{col.0}}">
        {% if col.1 + 0 > 0 -%}
          <img class="queen-icon" src="/_assets/chess-queen.svg" alt="Q">
        {%- endif -%}
      </div>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
  {% endfor %}
    
  </div>

  <script>
    document.querySelector('#number-of-solutions-input').value = 0

    document.querySelector('#solve-button').addEventListener('click', () => {
      let numberOfSolutions = document.querySelector('#number-of-solutions-input').value * 1

      if(!numberOfSolutions) {
        window.location = `/`
        return
      }

      window.location = `/?solutions=${numberOfSolutions}`
    })
  </script>
</body>

</html>